@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;800&family=Space+Mono:wght@400;700&display=swap');

html,
body,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: 'Space Mono', monospace;
     font-weight: bold;
}

#background__color {
     background: yellow;
}